
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@media (min-width: 400px) {
    body {
        background-image: url('./img/28802850_7486972.jpg');
        background-image: linear-gradient(90º);
        background-repeat:repeat;
        background-size: cover;
        font-family: 'Fredoka One';
        margin: 20px;
        
    }
    
    .table>:not(caption)>*>* {
        padding: .5rem .5rem;
        background-color: #93a0b1;
        border-bottom-width: 1px;
        box-shadow: color 2 9999px var(--bs-table-accent-bg);
        border-color: turquoise;
    }
    
    a {
        
        text-decoration: underline;
        background-color: #ff9000;
        padding: 10px;
        margin-top: 80px;
        border-radius: 10px;
        border-color: #000;
        text-decoration: none;
        color:#000;
        border-color: #000;
    }
    
    a:hover{
        background-color: #93a0b1;
        color: #ff9000;
    }
    
    h1{
        color:#000;
    }
    
    #datospersonales_nombre {
       display: block;
    }
    
    #datospersonales_apellidos{
        display: block;
    }
    #datospersonales_fechanacimiento{
        display: block;
        
    }
    
    #datospersonales_dni{
        
        display: block;
    }
    #datospersonales_mascotas{
        display: block;
    }
    #datospersonales_tipomascota{
        display: block;
    }
    
    .btn{
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #000;
        background-color: #ff9000;
        border-color: #000;
    }
    
    #ajustes {
        color: #000;
        background-color: transparent;
        opacity: 1;
        text-decoration: none;
    }
    
    #ajustes2 {
    color:#000;
    opacity: 1;
    }   
}
@media (min-width: 1200px) {
body {
    background-image: url('./img/28802850_7486972.jpg');
    background-image: linear-gradient(90º);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Fredoka One';
    margin: 20px;
    
}

.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    background-color: #93a0b1;
    border-bottom-width: 1px;
    box-shadow: color 2 9999px var(--bs-table-accent-bg);
    border-color: turquoise;
}

a {
    
    text-decoration: underline;
    background-color: #ff9000;
    padding: 10px;
    margin-top: 80px;
    border-radius: 10px;
    border-color: #000;
    text-decoration: none;
    color:#000;
    border-color: #000;
}

a:hover{
    background-color: #93a0b1;
    color: #ff9000;
}

h1{
    color:#000;
}

#datospersonales_nombre {
   display: block;
}

#datospersonales_apellidos{
    display: block;
}
#datospersonales_fechanacimiento{
    display: block;
    
}

#datospersonales_dni{
    
    display: block;
}
#datospersonales_mascotas{
    display: block;
}
#datospersonales_tipomascota{
    display: block;
}

.btn{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
    background-color: #ff9000;
    border-color: #000;
}

#ajustes {
    color: #000;
    background-color: transparent;
    opacity: 1;
    text-decoration: none;
}

#ajustes2 {
color:#000;
opacity: 1;
}
}

